.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 60px;
}

.input_container {
  width: 100%;
  position: relative;
}

.add_input {
  position: relative;
  font-size: 16px;
  width: 100%;
  padding: 10px 15px;
  background: transparent;
  border: 1px solid #9e78cf;
  border-radius: 10px;
  outline: none;
}

.add_input:hover {
  border-color: #784db1;
}

.add_input:focus {
  border-color: #8044cf;
}

.add_btn {
  border: transparent;
  border-radius: 10px;
  padding: 6px;
  background-color: #9e78cf;
  cursor: pointer;
}

.add_btn:hover {
  background-color: #8044cf;
}

.add_btn:active {
  scale: 0.98;
}

.clear_btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
